.container
  %h1.center TESTING APPLICATION FOR MARKSILA

  %h2.center
    MARKSILA CODE :
    %br
    %i (VARIABLE1 displays Time.now)

  %div= @text

  %h2.center Marksila html renderer :

  .marksila_code
    = @marksila

